.Dashboard {
	max-width: 100% !important;
}	
	.h1header{
		padding: 10px 0 0 18px;
	}
	
	.DashboardContainer {
		display: flex;
		flex-wrap: wrap;
	}
		
		.pod {
			font-family: "Roboto", sans-serif;
			width: 400px;
			height: 250px;
			margin: 7px 7px;
			-webkit-box-shadow: 3px 3px 5px #ccc;
			-moz-box-shadow: 3px 3px 5px #ccc;
			box-shadow: 3px 3px 5px #ccc;
		}
